.slideBody {
    overflow: hidden;
}

.slideBody * {
    color: white;
    margin: 0;
    padding: 0;
}

.slides {
    display: flex;
    width: 500%;
}

.slides input[name='r'] {
    display: none;
}

.slides .content {
    transition: 0.2s;
    width: 20%;
}

.buttons .arrows {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1em 0 0.5em 0;
    width: 75%;
}

.buttons .arrows div {
    cursor: pointer;
    transition: all 0.25s;
    width: 15%;
}
