/* RAIZ DO FORMULÁRIO */
.layout * {
    box-sizing: border-box;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

.layout {
    padding: 0.5em 0;
}

.layout input {
    color: rgba(255, 255, 255, 1);
}

/* TITULO DO FORMULÁRIO */
.title h2 {
    margin: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 2em;
    padding: 0.5em 0;
}

/* CAMPOS DO FORMULÁRIO */
.label {
    margin: auto;
    padding: 0.25em 0;
    text-align: left;
    width: 80%;
}

.normalInput {
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding: 1em;
    width: 80%;
}

.toggleInput {
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    width: 80%;
}

.toggleInput input {
    background: none;
    border: none;
    padding: 1em;
    float: left;
    width: 85%;
}

.toggleInput div {
    width: 15%;
    float: right;
}

/* MENSAGEM DE ERRO*/
.warning p {
    color: rgb(231, 55, 55);
    font-size: 0.9em;
    font-weight: 100;
    text-align: center;
}

/* BOTÃO DO FORMULÁRIO */
.btnForm {
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: black;
    font-weight: 900;
    margin: 0.75em 0;
    padding: 0.5em;
    width: 60%;
}

.btnForm:disabled {
    background: rgba(255, 255, 255, 0.35);
}
