.layout {
    background: rgba(19, 18, 19, 255);
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.layout article {
    margin: auto;
    padding: 0.5em 0;
    text-align: center;
    width: 80%;
}

.layout article {
    margin: auto;
    padding: 0.5em 0;
    text-align: center;
    width: 80%;
}

@media screen and (min-width: 1000px) {
    .layout article {
        width: 35%;
    }
}

@media screen and (min-width: 1500px) {
    .layout article {
        width: 20%;
    }
}
