.layout * {
    box-sizing: border-box;
    border-spacing: 0;
    color: white;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

.layout {
    background: rgba(19, 18, 19, 255);
    height: 100%;
    position: absolute;
    width: 100%;
}

.layout article:first-child {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    padding: 0.75em 1em;
    width: 100%;
}

.layout a {
    text-decoration: underline;
}

.layout article:last-child {
    margin: auto;
    text-align: center;
    width: 80%;
}

.layout article:last-child h1 {
    font-size: 2.5em;
}

.layout article:last-child p {
    margin: 0.5em 0;
}

.layout article:last-child a {
    align-items: center;
    border: 3px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    padding: 2.5em 0;
}

.layout article:last-child a svg {
    background: black;
    border-radius: 50%;
    height: 1em;
    padding: 0.5em;
    width: 1em;
}

@media screen and (min-width: 700px) {
    .layout article:last-child {
        overflow: hidden;
        width: 75%;
    }

    .layout article:last-child a {
        float: left;
        width: 48%;
        margin: 0em 1%;
    }
}

@media screen and (min-width: 1000px) {
    .layout article:last-child {
        width: 55%;
    }
}

@media screen and (min-width: 1300px) {
    .layout article:last-child {
        width: 40%;
    }
}

@media screen and (min-width: 1600px) {
    .layout article:last-child h1 {
        font-size: 3.5em;
    }

    .layout article:last-child {
        width: 30%;
    }
}
